html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  /* adjust typography defaults */
  body {
    margin: 1rem;
    line-height: 1.5;
    background-color: #CDE2C1;
  }
  .flex-container {
    display: flex;
   flex-direction: row;
  flex-wrap: wrap;
   position:relative;
  justify-content: left;
  align-items: left;  
  }   
  .flex-container > div {
    position: absolute;
    top: 0px;
    left:0px;
    text-align: center;
    font-size:400px;
    font-family: 'Alfa Slab One', cursive;
   color: #AFC1A4;

  }
   
    .flex-container1 {
        display: flex;
       flex-direction: row;
      flex-wrap: wrap;
       position:relative;
      justify-content: left;
      align-items: left;  
      }   
      .flex-container1 > div {
        position: absolute;
        top: 0px;
        left:0px;
        text-align: top;
        font-size:100px;
        font-family: 'Chivo Mono', monospace;
        color: white;

  }
  .flex-container2 {
    display: flex;
   flex-direction: row;
  flex-wrap: wrap;
   position:relative;
  justify-content: center;
  align-items: center;  
  }   
  .flex-container2 > div {
    position: absolute;
    top: 1158px;
    left:864px;
    text-align: right;
    font-size:50px;
    font-family: 'Chivo Mono', monospace;
    color: white;
  }
  a:link {
    color: #AFC1A4;
    text-decoration: none;
  }
  
  a:visited {
    color: #AFC1A4;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    text-decoration: none;
  }
  
  a:active {
    color: #AFC1A4;
    text-decoration: none;
  }